
{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}
{{ chat }}
{% for message in messages  %}
<h1>{{ message.author }}</h1>
{%  if message.file  %}
<img src="{{ message.file.url }}" class="img-responsive" />
{%  endif  %}
<p>{{ message.text }}</p>
</hr>
{%  endfor  %}
{% if message_form %}
<form action="/lowmes/chat{{chat.id}}/new_message/" method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{ message_form }}
<input type="submit" class="btn btn-default" value="Отправить">
</form>
{%  endif  %}
{% endblock %}