{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}
<style>
    /*GROW*/
    .grow img {
    height: 400px; /* Ширина элемента в пикселах */
    border-radius: 3px; /* Уголки */
    align: center;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    }

    .grow img:hover {
    border-radius: 30px; /* Уголки */
    }
    .comment_block {
        margin-left: 50pt;
    }
</style>

<h1>{{ title }} <small>{{ category }}</small></h1>
    <em>Автор: {{ author }} | </em>  <small>{{ date }}</small>

    {% if img %}
    <div align="center">
        <div class="grow pic">
            <img src="{{ img.url }}" >
        </div>
    </div>
    {% endif %}

    <p class="lead">{{ text }}</p>

    <a href="/{{ post.id }}/like/">
        <img src="{% static "like.png" %}" width="25px" height="25px">
    </a>
        {% if likes %}
            <p>
            Уже лайкнули:
            {% for like in likes %}
            <i>{{ like }}</i>
            {% endfor %}
            </p>
        {% endif %}

    <hr>
    <h2>Комментарии:</h2>
    <div class="comment_block">
        {% for comment in comments %}
        <h3><em>{{ comment.author }} </em><small>{{ comment.created_date }}</small></h3>
        <div>{{ comment.text }}</div>
        {% if user == comment.author %}
        <a href="/{{ post.id }}/comments/{{ comment.id }}/delete/"><b>Удалить комментарий</b></a>
        {% endif %}
        <hr>
        {% endfor %}
    </div>
    {% if comment_form %}
    <form action="/{{ post.id }}/addcomment/" method="post">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" class="btn btn-default" value="Добавить комментарий">
    </form>
    {% endif %}
{% endblock %}