{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}
<style>
    /*GROW*/
    .grow img {
    height: 400px; /* Ширина элемента в пикселах */
    border-radius: 3px; /* Уголки */
    align: center;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    }

    .grow img:hover {
    border-radius: 30px; /* Уголки */
    }
</style>

<h1>{{ title }} <small>{{ category }}</small></h1>
    <em>Автор: {{ author }} | </em>  <small>{{ date }}</small>

    {% if img %}
    <div align="center">
        <div class="grow pic">
            <img src="{{ img.url }}" >
        </div>
    </div>
    {% endif %}

    <p class="lead">{{ text }}</p>

    <p><img src="{% static "like.png" %}" width="25px" height="25px">{{ likes }}</p>
    <hr>
    <h2>Комментарии:</h2>

    {% for comment in comments %}
    <h3><em>{{ comment.author }}</em></h3>
    <td>Время публикации {{ comment.created_date }}</td>
    <div>{{ comment.text }}</div>
    <hr>
    {% endfor %}
    {% if comment_form %}
    <form action="/{{ post.id }}/addcomment/" method="post">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" class="btn btn-default" value="Добавить комментарий">
    </form>
    {% endif %}
{% endblock %}