{% extends 'main.html' %}

{% block content %}
        {% if username %}
            <h1>Hello, {{ username }}!</h1>
        {% else %}
            <h1>Welcome!</h1>
        {% endif %}
        <!-- Форма для авторизации -->
        <div class="top-bar">
            <section class="top-bar-section">
                <ul class="right">
                    {% if username %}
                        <li><a href="/auth/logout/">Выйти из аккаунта {{ username }}</a> </li>
                    {% else %}
                        <li><a href="/auth/login/">Войти</a> </li>
                    {% endif %}
                </ul>
            </section>
        </div>
        <!-- Все записи в блогах -->
        {% for post in posts %}
            <h3><a href="{%url 'blog:detail' post.id %}">{{ post.title }}</a></h3>
            <h6>Категория: {{ post.category }}</h6>
            <td>Время публикации {{ post.published_date }}</td>
            <div>{{ post.intro }}</div>
        <hr>
        {% endfor %}
{% endblock %}