{% extends 'main.html' %}

{% block login %}
<script type="text/javascript">
    function getXmlHttp() {
            var xmlhttp;
            try {
                xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                try {
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (E) {
                    xmlhttp = false;
                }
            }
            if (!xmlhttp && typeof XMLHttpRequest!='undefined') {
                xmlhttp = new XMLHttpRequest();
            }
            return xmlhttp;
        }
        function checkLogin(login) {
            var xmlhttp = getXmlHttp(); // Создаём объект XMLHTTP
            xmlhttp.open('POST', 'http://127.0.0.1:8000/auth/register/checkLogin/', true); // Открываем асинхронное соединение
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
            xmlhttp.send("username=" + encodeURIComponent(login)); // Отправляем POST-запрос
            xmlhttp.onreadystatechange = function() { // Ждём ответа от сервера
                if (xmlhttp.readyState == 4) { // Ответ пришёл
                    if(xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                        if (xmlhttp.responseText == "error") alert("Логин занят");
                        else alert("Логин свободен");
                    }
                }
            };
    }
</script>

<form action="/auth/register/" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" name="username" onblur="checkLogin(this.value)" class="form-control" id="username" placeholder="Username">
            </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">E-mail</label>
            <div class="col-sm-10">
                <input type="text" name="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
    </div>
    <div class="form-group">
        <label for="password1" class="col-sm-2 control-label">Пароль</label>
            <div class="col-sm-10">
                <input type="password" name="password1" class="form-control" id="password1" placeholder="Password">
            </div>
    </div>
    <div class="form-group">
        <label for="password2" class="col-sm-2 control-label">Повторите пароль</label>
            <div class="col-sm-10">
                <input type="password" name="password2" class="form-control" id="password2" placeholder="Password">
            </div>
    </div>
        {% if register_error %}
            <label class="error">{{ register_error }}</label>
        {% endif %}
        {% if login_error %}
            <label class="error">{{ login_error }}</label>
        {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-default" type="submit" value="Зарегистрироваться">
        </div>
    </div>
</form>
{% endblock %}