{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}
<style>
id_title
</style>

    {% if post_form %}
    <form action="/new_post/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ post_form }}
    <input type="submit" class="btn btn-default" value="Опубликовать пост">
    </form>
    {% endif %}

    {% if form_creation_error %}
        {{ form_creation_error }}
    {% endif %}
    {% if success %}
        {{ success }}
    {% endif %}
    <video src="{% static "blog/vid.webm" %}" autoplay controls></video>
{% endblock %}